<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">
                    Contacts {{ date | date:"shortDate"}}
                </h3>
                <table class="table table-bordered ">
                    <thead class=" bg-dark text-white">
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Téléphone</th>
                        </tr>
                    </thead>
                    <tbody class=" text-dark">
                        <tr *ngFor="let contact of Contacts">
                            <td>{{ contact.nom}}</td>
                            <td>{{ contact.prenom}}</td>
                            <td>{{ contact.tel}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
